<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="Create">
        <h1>Create post here</h1>
        <form method="post" action="/posts/new">
            <input type="text" name="user" placeholder="Enter your user name"><br>
            <textarea name="content" placeholder="enter content " rows="5" cols="35"></textarea><br>    
            <button class="btn">Submit</button>
        </form>
    </div>
</body>
</html>